<div class="navbar">
	<a class="navbar__title" [routerLink]="['']">
		NgShop
	</a>

	<div class="navbar__user-info">
		<div (click)="handleLoginClick()" class="navbar__login" *ngIf="!(isUserLoggedIn | async) else navbarUserInfo">
			<i class="material-icons navbar__login-icon">
				account_circle
			</i>
			<span class="navbar__login-text">
				Login
			</span>
		</div>

		<ng-template #navbarUserInfo>

		</ng-template>
	</div>

</div>

<ng-template #loginForm>
    <app-login-form></app-login-form>
</ng-template>

