<div class="navbar">
	<a class="navbar__title" [routerLink]="['']">
		NgShop
	</a>

	<a class="navbar__basket" [routerLink]="['/checkout']">
		<i class="material-icons navbar__basket-icon">
			shopping_cart
		</i>
		<div class="navbar__basket-count" *ngIf="(productCount | async) > 0">
			{{productCount | async}}
		</div>
	</a>

	<div class="navbar__user-info">
		<div (click)="handleLoginClick()" class="navbar__login" *ngIf="!(isUserLoggedIn | async) else navbarUserInfo">
			<i class="material-icons navbar__login-icon">
				account_circle
			</i>
			<span class="navbar__login-text">
				Login
			</span>
		</div>

		<ng-template #navbarUserInfo>

		</ng-template>
	</div>

</div>

<ng-template #loginForm>
    <app-login-form></app-login-form>
</ng-template>

