@import '../../../common';

.navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	background: $primary-background;
	padding: 10px 20px;
	@include app-box-shadow();

	&__title {
		color: #FFF;
		font-size: 20px;
		text-decoration: none;
	}

	&__basket {
		margin-left: auto;
		margin-right: 20px;
		position: relative;

		&-icon {
			color: #FFF;

			&:hover {
				cursor: pointer;
			}
		}

		&-count {
			background: red;
			color: white;
			border-radius: 50%;
			position: absolute;
			bottom: 0;
			right: 0;
			min-width: 16px;
			height: 16px;
			font-size: 12px;
			font-weight: 700;
			text-align: center;
			line-height: 16px;
		}
	}

	&__user-info {
	}

	&__login {
		display: flex;
		align-items: center;

        &:hover {
            cursor: pointer;
        }

		&-icon {
			color: #FFF;
		}

		&-text {
			color: #FFF;
			margin-left: 5px;
		}
	}
}
