$primary-background: #4a76a8;
$text-color: #777;

@mixin app-box-shadow {
	box-shadow: 0 0 4px 0 $text-color;
}

@mixin input-field-styles {
	margin-bottom: 10px;
	outline: none;
	height: 40px;
	border: none;
	@include app-box-shadow();
	font-size: 16px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	border-radius: 2px;
}

@mixin primary-button-styles {
	color: #fff;
	background: $primary-background;
	height: 40px;
	border-radius: 2px;
	display: flex;
	align-items: center;
	padding: 0 20px;
    border: none;
    outline: none;
	font-weight: 700;
	@include app-box-shadow();

	&:hover {
		cursor: pointer;
		background: rgba($primary-background, 0.9);
	}

	&:active {
		transform: scale(0.95);
	}
}
